certifi==2019.9.11
cffi==1.13.2
cryptography==2.8
future==0.18.2
pycparser==2.19
pyTelegramBotAPI==3.6.6
python-telegram-bot==12.2.0
pytz==2019.2
requests==2.7.0
roman==3.2
six==1.12.0
telebot==0.0.3
telegram==0.0.1
tornado==6.0.3
